*.csv
*.xlsx
*.png
*.jpg
*.bmp
openlabTool/config.yml
openlabTool/__pycache__
openlabTool/out
openlabTool/*.zip
openlabTool/*.7z
openlabTool/*.rar
openlabTool/.idea/
.DS_Store
openlabTool/test.py
openlabTool/imageTest.py